.l-global-outer {
  width: 100%;
}

.l-global-inner {
}

.l-header {
  background-color: #323232;
  color: #fff;
  height: 200px;;
  margin-bottom: 20px;
  margin-left: 20%;
  box-shadow: 10px 10px 5px #ccc;
  border-bottom-left-radius: 20px;
}

.l-main {
  width: 700px;
  margin: auto;
}

.l-footer {

}
